.tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs > ul {
    display: flex;
    width: 50%;
}

.tabs > ul > li {
    display: flex;
    justify-content: center;
    width: 100%;
    border: solid black 2px;
    /* padding: .05em .5em; */
    padding-top: .05em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: blue;
    color: white;
}

.tabs > ul > li:hover {
    background-color: cyan;
    color: black;
    transition: .2s;
    cursor: pointer;
}

.tabs > ul > li.active {
    background-color: red;
}

#folder-container {
    background-color: coral;
} 

.tab-content {
    background-color: white;
    width: 50%;
}
